<div class="container" id="home-container">
  <div class="jumbotron text-center text-black">
    <h1 class="display-4">Test Bank</h1>
    <p class="lead">This is a simple test application including a CRUD about banks, some features about providers and a devise gem authentication implementation</p>
    <hr class="my-4">
    <p>It's was build with Rails Version 6, JQuery and Bootstrap </p>
    <%= link_to "Banks Index", banks_path, class: "btn btn-success btn-lg" %>
  </div>
</div>